@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

* {
	box-sizing: border-box;
}

@layer base {
	@theme {
		--font-league: "League Spartan", sans-serif;

		--text-h1: 7.993rem;
		--text-h2: 5.653rem;
		--text-h3: 3.998rem;
		--text-h4: 2.827rem;
		--text-h5: 1.999rem;
		--text-h6: 1.414rem;
		--text-para: 1rem;

		--shadow-custom:4px 2px 0px 0px rgba(0,0,0,1);
	}
}

@layer base {
	* {
		@apply text-zinc-950 font-league font-normal
	}
}